<mat-toolbar>
    <span>

        <!-- <mat-icon>menu</mat-icon> -->
        <a mat-button routerLink="principal">
            <mat-icon>menu</mat-icon>Taller APIs</a>


        <a mat-button routerLink="apiJson">
            <mat-icon>post_add</mat-icon>Posts
        </a>

        <a mat-button routerLink="comments">
            <mat-icon>chat</mat-icon>Comments
        </a>

        <a mat-button routerLink="albums">
            <mat-icon>library_books</mat-icon>Albums
        </a>

        <a mat-button routerLink="photos">
            <mat-icon>image</mat-icon>Photos
        </a>

        <a mat-button routerLink="apiPokemon">
            <mat-icon>pets</mat-icon>apiPokemon
        </a>
    </span>
</mat-toolbar>